html{
    height: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.254em;
}
a{
    text-decoration: none;
    color: rgb(68, 0, 255);
}
a:hover,
a:visited{
    color: #265778
}
#container{
    padding-left: 280px;
    position: relative;
    width: 80%;
    left: 0;
}
#menuitem{
    position: fixed;
    height: 100%;
    width: 270px;
    left: 0;
    background-color: rgb(250, 202, 144)
}
#menuitem ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#menuitem ul li{
    line-height: 2em;
    height: 2em;
}
#menuitem ul li a{
    display: block;
    color: #3700ff;
    padding: 0 2em;
    border-bottom: 1px solid rgb(119, 119, 119)
}
#menuitem li:hover {
    background-color: #353535;
}
#header{
    width: 100%;
    height: 150px;
    background-color: #ff9100;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
#logo{
    font-size: 80px;
    color: #ffffff;
    display: flex;
    height: 100%;
    align-items: center;
    padding-left: 50px;
    font-family: 'Courier New', Courier, monospace
}
#trend{
    padding: 1em;
    background: #EFEFEF;
    border: 1px solid #E8E8E8;
    width: 97%;
    height: 150px;
    display: flex;
    flex-direction: column  
}
.size{
    height: 140px;
    width: 120px;
}
.pic{
    width: 100%;
    object-fit: contain;
    padding-left: 10px;
}
#footer{
    font-size: 13px;
    display: flex;
    justify-content: center
}
.width{
    width: 270px;
    display: flex;
    padding-top: 20px   
}
#news{
    display: flex
}
.row{
    display: flex;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding-top: 10px
}
.col{
    display: flex;
    margin-right: 1rem;
    flex-flow: column;
    justify-content: center;
}
.shopping-item {
   
    width: 90%;
    height: 20px;
    text-align: right;
}
#shopping{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding-right: 1rem;
}
#menu{
    display: flex;
    justify-content: center;
}